#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define Base    0
#define Nav     1
#define Media   2
#define Symbols 3
#define Scroll  4
#define Lewd    5
#define KEYS_L 0  1  2  3  4  5  12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41
#define KEYS_R 6  7  8  9  10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47
#define NAVIGATION 30 31 32 33
#define THUMBS 48 49 50 51 52 53 54 55

&sk { quick-release; };

/ {
    /* trackball as cursor on base and nav layers */

    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&trackball>;
        layers = <Base>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <2>;
    };

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&trackball>;
        layers = <Nav>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        scale-multiplier = <1>;
        scale-divisor = <8>;
        y-invert;
        bindings = <&ib_wheel_scaler 1 20>;
    };

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <140>;
            require-prior-idle-ms = <130>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <140>;
            require-prior-idle-ms = <130>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_L THUMBS NAVIGATION>;
            hold-trigger-on-release;
        };

        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TOG";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mo_sl: mo_sl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&sl>, <&mo>;
        };

        osm_mod: osm_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&sk>, <&kp>;
        };

        hmr_shift: hmr_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_SHIFT";
            bindings = <&kp>, <&kp>;

            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-while-undecided;
        };

        hml_shift: hml_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_SHIFT";
            bindings = <&kp>, <&kp>;

            flavor = "hold-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            hold-while-undecided;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "BASE";
            bindings = <
&kp ESC         &kp N1  &kp N2               &kp N3  &kp N4                   &kp N5            &kp N6            &kp N7                    &kp N8       &kp N9             &kp N0                   &kp BACKSPACE
&kp TAB         &kp Q   &kp W                &kp E   &kp R                    &kp T             &kp Y             &kp U                     &kp I        &kp O              &kp P                    &mkp RCLK
&kp BACKSPACE   &kp A   &kp S                &kp D   &kp F                    &kp G             &kp H             &kp J                     &kp K        &kp L              &hmr LEFT_ALT SEMI       &kp ENTER
&sk LEFT_SHIFT  &kp Z   &hml LEFT_CONTROL X  &kp C   &hml_shift LEFT_SHIFT V  &kp B             &kp N             &hmr_shift RIGHT_SHIFT M  &lt 1 COMMA  &hmr RCTRL PERIOD  &hmr LS(LEFT_ALT) SLASH  &sk RIGHT_SHIFT
                                             &mo 1   &kp SPACE                &sk LEFT_SHIFT    &sk LEFT_GUI      &mo 3
                                                     &sk LEFT_SHIFT           &mkp LCLK         &sk LEFT_CONTROL
            >;
        };

        Nav {
            bindings = <
&kp F1      &kp F2     &kp F3  &kp F4      &kp F5      &kp F6            &kp F7          &kp F8     &kp F9         &kp F10        &kp F11        &kp F12
&kp TAB     &sk LCTRL  &kp N1  &kp N2      &kp N3      &none             &sk LSHFT       &sk LCTRL  &kp LG(EQUAL)  &kp LG(MINUS)  &none          &none
&kp BSPC    &sk LALT   &kp N4  &kp N5      &kp N6      &sk LEFT_SHIFT    &kp LEFT        &kp DOWN   &kp UP         &kp RIGHT      &kp PAGE_UP    &kp ENTER
&kp DELETE  &sk LGUI   &kp N7  &kp N8      &kp N9      &kp N0            &kp HOME        &kp END    &none          &none          &kp PAGE_DOWN  &kp PRINTSCREEN
                               &kp ESCAPE  &kp SPACE   &none             &tog 0          &sl 2
                                           &kp ESCAPE  &none             &sk LEFT_SHIFT
            >;
        };

        Media {
            bindings = <
&none  &bt BT_SEL 0      &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3       &bt BT_SEL 4       &none   &none  &none  &none  &none  &none
&none  &none             &none           &none         &none              &none              &none   &none  &none  &none  &none  &none
&none  &kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_NEXT    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &none   &none  &none  &none  &none  &none
&to 0  &none             &none           &none         &none              &kp C_MUTE         &none   &none  &none  &none  &none  &bt BT_CLR_ALL
                                         &none         &none              &none              &tog 0  &none
                                                       &none              &none              &none
            >;
        };

        Symbols {
            label = "SYM";
            bindings = <
&none             &kp GRAVE       &kp TILDE             &none                  &none             &none                &none          &none         &none          &none     &none        &none
&kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE   &kp RIGHT_BRACKET    &kp TILDE      &kp TILDE     &kp EQUAL      &kp PLUS  &kp GRAVE    &none
&kp HASH          &kp CARET       &kp SINGLE_QUOTE      &kp DOUBLE_QUOTES      &kp DOLLAR        &kp STAR             &none          &kp LC(B)     &kp AMPERSAND  &kp PIPE  &kp COLON    &none
&kp PERCENT       &kp LESS_THAN   &kp UNDERSCORE        &kp MINUS              &kp GREATER_THAN  &kp FSLH             &kp BACKSLASH  &kp QUESTION  &none          &none     &kp AT_SIGN  &none
                                                        &kp ESCAPE             &kp SPACE         &kp EXCLAMATION      &tog 0         &none
                                                                               &kp ESCAPE        &kp CAPSLOCK         &none
            >;
        };
    };
};
